/*Listbox*/
.listbox-container {
    height: auto;
    width: 100%;
    margin: 10px 0px 10px 10px;
    display: flex;   
    flex-wrap: wrap;
}

.listbox {
    display: flex;
    height: 69px;
    width: 170px;
    margin-left: 15px;
    padding-left: 15px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.listboxopen {
    display: none;
    width: 600px;
    height: auto;
    margin-left: 10px;
    z-index: 4;
}
.listbox-header {
    display: flex;
    width: 100%;
    height: 100%;
}
input.find {
    display: flex;
    width: 90%;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
.find0::placeholder, .find1::placeholder, .find2::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    width: auto;  
}
.array {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
.ul-box0, .ul-box1, .ul-box2 {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.list-li0, .list-li1, .list-li2 {
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
    z-index: 20;
}
ul {
    list-style: none;
}
.option {
    display: flex;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 20px;
}
.tag-container {
    display: flex;
    position: relative;
    flex-flow: wrap; 
    width: 100%;
}
.tag-ingredient, .tag-appareil, .tag-ustensil {
    display: flex;
    margin-left: 16px;
    margin-bottom: 10px;
    height: 28px;
    border-radius: 4px;
    padding: 8px 2px 0px 2px;
    font-size: 14px;
    color: white;
    text-align: center;
}