$blue:  rgba(50, 130, 247, 1);
$green: rgba(104, 217, 164, 1);
$red:   rgba(237, 100, 84, 1);

$phone:"only screen and (max-width:760px)";
$medium:"only screen and (min-width:760px) and(max-width: 855px)";
$large:"only screen and (min-width: 1200px)";